In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('./rent.csv')

In [45]:
df.head()

        Neighborhood         City State  med_2011  med_2014
0   Northeast Dallas       Dallas    TX     825.0     985.0
1           Paradise    Las Vegas    NV     900.0    1100.0
2           Maryvale      Phoenix    AZ     795.0     850.0
3    Upper West Side     New York    NY    2795.0    3300.0
4  South Los Angeles  Los Angeles    CA    1150.0    1400.0