In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('./rent.csv')

In [45]:
df.head()

        Neighborhood         City State  med_2011  med_2014
0   Northeast Dallas       Dallas    TX     825.0     985.0
1           Paradise    Las Vegas    NV     900.0    1100.0
2           Maryvale      Phoenix    AZ     795.0     850.0
3    Upper West Side     New York    NY    2795.0    3300.0
4  South Los Angeles  Los Angeles    CA    1150.0    1400.0

In [47]:
df['med_2011'].max()

65000.0

In [53]:
df.groupby(['City', 'State'])['med_2011', 'med_2014'].max()

                         med_2011  med_2014
City              State
Akron             OH        690.0     725.0
Albany            NY          NaN     952.0
Albuquerque       NM       1099.0    1150.0
Alexandria        VA       2155.0    2250.0
Amherst           MA          NaN       NaN
Anaheim           CA       2005.0    2245.0
Anchorage         AK          NaN    1995.0
Arlington         TX       1100.0    1300.0
                  VA       2800.0    2796.0
Atlanta           GA       2000.0    2450.0
Auburn            WA       1045.0    1375.0
Augusta           GA        826.0     955.0
Aurora            CO       1350.0    1400.0
Austin            TX       1799.0    2800.0
Bakersfield       CA          NaN    1550.0
Baltimore         MD       2100.0    2210.0
Beaverton         OR        925.0    1167.0
Bellevue          WA       2290.0    2550.0
Bellingham        WA        879.0     710.0
Bend              OR          NaN    1200.0
Boise             ID       1200.0     975.0
Boston            MA       3050.0    3500.0
Boulder           CO       2500.0    2490.0
Branford          CT       1100.0     975.0
Buffalo           NY        625.0    1000.0
Cambridge         MA       2688.0    3000.0
Chandler          AZ       1695.0    1900.0
Charlotte         NC       1500.0    1550.0
Charlottesville   VA        875.0    1195.0
Chesapeake        VA       1400.0    1950.0
...                           ...       ...
Satellite Beach   FL        975.0    1050.0
Scottsdale        AZ       3000.0    3000.0
Seattle           WA       2195.0    2450.0
Shreveport        LA        815.0    1050.0
South Bend        IN          NaN     650.0
Sparta            NJ       2200.0    2200.0
Spokane           WA        660.0    1400.0
Springfield       MA        990.0    1100.0
Stamford          CT       3900.0    4000.0
Stockton          CA       1500.0    1500.0
Sunnyvale         CA          NaN    2750.0
Syracuse          NY          NaN     700.0
Tacoma            WA       1195.0    1375.0
Tampa             FL       2029.0    2000.0
Tempe             AZ        825.0    1195.0
Toledo            OH        724.0     750.0
Torrance          CA       1275.0    2695.0
Town of Madison   WI       1745.0    1645.0
Trenton           NJ        900.0    1062.0
Tucson            AZ       1050.0    1250.0
Tulsa             OK          NaN    1850.0
Vancouver         WA        720.0    1350.0
Virginia Beach    VA       1725.0    1975.0
Washington        DC       5000.0    3250.0
West Palm Beach   FL       4000.0    3000.0
Westhampton Beach NY      65000.0   53900.0
Weymouth          MA       1124.0    1415.0
Wichita           KS        550.0     925.0
Wynnewood         PA          NaN       NaN
Youngstown        OH          NaN     500.0

[177 rows x 2 columns]